<!doctype html>
<html lang="en">
<head>
    <#include "base.ftlh"/>
    <title>Add event</title>
</head>
<body class="container">
    <h1 class="pt-3 pb-3">Add event</h1>
    <form action="/calendar/${calendarId}/addEvent" method="post">
        <input type="text" class="form-control mb-3"  name="name" placeholder="Event name"/>
        <input type="text" class="form-control mb-3"  name="description" placeholder="Event description"/>
        <input type="text" class="form-control mb-3"  name="place" placeholder="Event place"/>
        <input type="text" class="form-control mb-3"  name="site" placeholder="Event site"/>
        <input type="color" class="form-control mb-3"  name="color" placeholder="Event color"/>
        <button class="btn btn-success" type="submit">
            Add Event
        </button>
    </form>
</body>
</html>